<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DanmuWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Check</display-name>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.danmu.servlet.Check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectManager</display-name>
    <servlet-name>ConnectManager</servlet-name>
    <servlet-class>com.danmu.servlet.ConnectManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectManager</servlet-name>
    <url-pattern>/ConnectManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.danmu.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>manageFilter</filter-name>
    <filter-class>com.danmu.filter.ManageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>manageFilter</filter-name>
    <url-pattern>/Manage.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>manageFilter</filter-name>
    <url-pattern>/Delete.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>manageFilter</filter-name>
    <url-pattern>/Change</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>manageFilter</filter-name>
    <url-pattern>/Delete</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>manageFilter</filter-name>
    <url-pattern>/Change.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.danmu.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.danmu.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change</display-name>
    <servlet-name>Change</servlet-name>
    <servlet-class>com.danmu.servlet.Change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change</servlet-name>
    <url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanmuUp</display-name>
    <servlet-name>DanmuUp</servlet-name>
    <servlet-class>com.danmu.servlet.DanmuUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanmuUp</servlet-name>
    <url-pattern>/DanmuUp</url-pattern>
  </servlet-mapping>
</web-app>